# Node
node_modules/
.next/
out/
dist/
.turbo/
*.tsbuildinfo

# pnpm
.pnpm-store/

# Local secrets / env
initial-admin-password.txt
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Database / object storage volumes
.data/
.minio-data/
.pgdata/

# Editors
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local notes
.notes/
SCRATCH.md
